# http://flexget.com/wiki/Configuration

# Glossary - Refer to the documentation linked above for full explanations.
# See below for how this file deals with these concepts.
#
#   - entries 
#       Each entry contains either an episode of content or a reference to
#       obtain an episode of content, typically a torrent file.  Entries are
#       not defined in this file or explicitly referenced, but handling them
#       correctly is the point of this exercise.
#   - series 
#       Each series definition contains the name of a content series.  Each
#       series definition can also specify filters for selecting entries.
#   - inputs 
#       Each input should contain a URL or other mechanism that, when queried,
#       produces a list of entries.
#   - outputs 
#       Each output defines how to download an episode of content contained or
#       referenced by an entry.
#   - templates 
#       Each template defines a set of series or a set of outputs.  (Inputs
#       tend to be defined within task definitions.)
#   - tasks
#       Each task indicates, often through reference to templates, a set of
#       inputs to query, a set of series to look for, and at least one output
#       to receive selected entries.


templates:

  series__all_shows:
    series:
      settings:
        all_shows:
          timeframe:            12 hours
          target:               720p-2160p
          upgrade:              True
      all_shows:
{% for show in all_shows %}
        - "{{ show }}"
{% endfor %}

  series__piratebay:
    series:
      settings:
        all_shows:
          timeframe:            12 hours
          target:               720p-2160p
          upgrade:              True
      # [] represents an empty list.
      piratebay:                []

  series__night_vale:
    series:
      - Welcome to Night Vale:
          identified_by:        'sequence'
    regexp:
      accept:
        - '^[0-9]+ - '
    set:
      path:                     '/storage/bittorrent/content/nightvale/'
      filename:                 "{{ "{" }}{ title }}.mp3"
    download:                   True

  output__transmission:
    transmission:
      host:                     localhost
      port:                     9091
      username:                 transmission
      password:                 {{ rpc_password }}


tasks:

  # Try to get everything from the most reliable sources.
  try_best:
    inputs:
{% for rss_feed in best_rss_feeds %}
      - rss:                    "{{ rss_feed }}"
{% endfor %}
    template:   
      - series__all_shows
      - output__transmission

  # Try to get everything from moderately reliable sources.
  try_middle:
    inputs:
      - rss:                    "{{ eztv_torrent_feed }}"
    template:
      - series__all_shows
      - output__transmission

  # Try to get select things from unreliable sources.
  try_worst:
    inputs:
      - rss:                    "{{ piratebay_rss_feed }}"
    template:
      - series__piratebay
      - output__transmission

  nightvale_from_nightvale:
    rss:
      url:                      "{{ nightvale_rss_feed }}"
    template:                   series__night_vale
